<%= simple_form_for @quote do |f|  %>
  <div class="inputs">
    <%- unless f.error_notification.blank? -%>
      <%= f.error_notification %>
    <%- end -%>
    <%= f.input :quote %>
    <%= f.input :source %>
    <%= f.input :published_on %>
    <%= f.input :notes %>
    <%= f.input :active %>
  </div>
  <div class="actions">
    <%= f.button :button, "Submit", class: "button__line" -%>
  </div>
<% end %>
